.beyond-the-books{
   
    .card{
        padding:15px;
        display: flex !important;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        border:none;
        height: 100%;
        background-color: transparent;
        &-icon{
            max-width:120px;
            width:100%;
            padding:5px;
            background-color: #fff;
            border-radius: 12px;
            img{
                border-radius: 10px;
            }
        }
        &-text{
            max-width: calc(100% - 120px);
            width:100%;
            padding:15px;
            background-color: #fff;
            border-radius: 10px;
            margin-left:15px;
            position: relative;
         

            &::before{
                content:"";
                display: block;
                height:16px;
                width:16px;
                background-color: #fff;
                position: absolute;
                top:25px;
                left:-8px;
                border-radius: 3px;
                transform:rotate(45deg)
            }
        }

        &-title{
            font:20px $font-oswald;
            margin:0 0 10px;
            line-height: 1;
            text-transform: uppercase;
        }

        &-description{
            font:14px/1.6 $font-poppins;
            color:$color-gray;
            margin-bottom:10px;
        }

        
    }

}