.c-btn{
    font:14px $font-oswald;
    text-transform: uppercase;
    background-color: $color-blue;
    color:#fff;
    border:none;
    display: inline-block;
    padding:15px 15px;
    border-radius: 4px;
    letter-spacing: 1px;
    transition:all 0.4s;
    &:hover, &:focus{
        color:#fff;
        background-color:darken($color-blue,10%)
    }

    &.btn-sm{
        font-size: 12px;
    }

    &.btn-outline{
        border:1px solid $color-blue;
        color:$color-blue;
        background-color: transparent;
        &:hover{
            background-color: $color-blue;
            color:#fff;
        }
    }
    
}