.c-navbar{
    &.navbar{}

    .navbar-brand{
        img{
            max-width:150px;
        }

        @include custom_min(992px){
            img{
                max-width: 250px;
            }
        }
    }

    .navbar-nav{
        .nav-item{
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            display: block;
            padding:10px 12px;
            .nav-link{
                &.active{
                    color:$color-red;
                }
            }
        }

        .dropdown-menu{
            right:0;
            left:auto;
        }
    }
}