.c-posts{
    .image-container{
        position: relative;
        padding:20px;
        margin-top:60px;
        .pattern{
            position: absolute;
            top:-30px;
            bottom:-30px;
            left:-30px;
            right:-30px;
            object-fit: contain;
            max-width:300px;
            margin: 0 auto;
            img{
                width:100%;
            }
        }
       
        .main-image{
            max-width: 180px;
            border-radius: 15px;
            overflow: hidden;
            background-color: #fff;
            padding:5px 0;
            margin: 0 auto;
            position: relative;
           
        }
    }
    .post-content{
        max-width: 800px;
        margin:0 auto;
        padding:15px;
        text-align: center;
        font-size: 14px;
        color:$color-gray;
        line-height: 1.6;

        p{
            margin-bottom: 40px;
        }

        h2{
            margin-bottom: 30px;
            margin-top:20px;
            font-size: 20px;
            font-weight: 600;
            font-family: $font-oswald;
            color:darken($color-gray,10%);
        }
    }


    .post-internal{
        border:1px  solid #fff;
        min-height: 500px;
        top:0;
        background-color: #fff;
        &-menu{
            position: sticky;
            top:75px;
            .menus{
                display: flex;
                justify-content: stretch;
                margin:0;
                padding:0;
                li{
                    flex:1;
                    list-style: none;
                    padding:0;
                    margin:0;
                  
                    a{
                        padding:10px;
                        background-color: #fff;
                        display: block;
                        color:$color-gray;
                        border-right:1px solid #dedede;
                        border-bottom: 1px solid #dedede;
                        &.active{
                            color:#fff;
                            background-color: $color-blue;
                            border-color: $color-blue;
                        }
                    }
                    &:last-child{
                        a{
                            border-right:none;
                        }
                    }
                }
            }
        }
    }
}