html,body{
    font-family: $font-poppins;
    font-size: 16px;
    scroll-behavior: smooth;
}



body{
    background-color: #EEF0FB;
}



img{
    max-width: 100%;
}

.color-black{
    color:#333333;
}

strong{
    font-weight: 700;
}
a{
    text-decoration: none;
}


.learn-more{
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    border:1px solid $color-blue;
    padding:10px 32px;
    border-radius: 4px;
    color:$color-blue;
    transition: all 0.4s;
    i{
        font-size: 14px;
        margin-left:15px
    }
    &:hover{
        background-color: $color-blue;
        color:#fff;
    }
}

.read-more{
    color:$color-blue;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    i{
        font-size: 12px;
        margin-left:10px;
    }
}